<!DOCTYPE html>

<html>
    <head>
        <h1><u>ShoeCollect</u></h1>
        <h2><u>everything just fun</u></h2>
    </head>

    <body>
        <form>
        <!-- <form action="https://www.freecatphotoapp.com/submit-cat-photo"> -->
            <input type="text" placeholder="Id User">
            <input type="text" placeholder="password">
            <button type="submit"> Masuk </button>
        </form>

        <h3>MySHOE</h3>
        <form>
            <input type="text" placeholder="Brand">
            <input type="text" placeholder="Colour">
            <input type="text" placeholder="Size">
            <input type="text" placeholder="formal/nonformal">
            <button type="submit"> Collect </button>
        </form>
        <form>
            <input type="text" placeholder="Brand">
            <input type="text" placeholder="Colour">
            <input type="text" placeholder="Size">
            <input type="text" placeholder="formal/nonformal">
            <button type="submit"> Take it </button>
        </form>
    </body>
</html>