#{set title:'Form Prodi' /}

<div class="row">
	<div class="col-lg-12">
		<div class="box dark">
			<header>
				<div class="icons">
					<i class="fa fa-edit"></i>
				</div>
				<h5>#{ifnot matakuliah?.id} Tambah Prodi #{/ifnot}
					#{else} Edit Prodi #{/else}
				</h5>
			</header>
			<div id="div-1" class="accordion-body collapse in body">
				#{form @simpan(matakuliah?.id), 'class':'form-horizontal'}
					#{include 'CMatakuliah/pureForm.html' /}
				#{/form}
			</div>
		</div>
	</div>
</div>