<!DOCTYPE html>

<html>
    <head>
        <h1 style="color: cornflowerblue"><u>E-Library</u></h1>
        <b>v1.8 created by faux</b>
    </head>

    <body>
        <br>Masukkan data user baru<br/>
        <form name="objuser" action="@{Application.buatAkun()}">
            <p>
            Nama:       <input type="text" name="objname" placeholder="nama"/> <br/>
            Username:   <input type="text" name="objusername" placeholder="username"/> <br/>
            Password:   <input type="text" name="objpass" placeholder="password"/> <br/>
            </p>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>

