<!DOCTYPE html>

<html>
    <head>
        <h1 style="color: rgb(63, 10, 10)"><u>collectshoe</u></h1>
    </head>

    <body>
        <h3>Add your collection</h3>
        Shoe Detail
        <form name="yournewshoe" action="@{Application.simpanBuku()}">
            <label>Brand</label><br>
            <input type="text" name="yournewshoe.brand" placeholder="brand"/> <br/>
                
            <label>Colour:</label><br>
            <input type="text" name="yournewshoe.colour" placeholder="colour"/> <br/>
                
            <label>Size:</label><br>
            <input type="text" name="yournewshoe.Size" placeholder="Size"/> <br/>

        </form>
    </body>
</html>

