<!DOCTYPE html>

<html>
    <head>
        <h1><u>E-Library</u></h1>
        <p>v1.1 created by faux</p>
    </head>

    <body>
        <form>
        <!-- <form action="https://www.freecatphotoapp.com/submit-cat-photo"> -->
            <input type="text" placeholder="username">
            <input type="text" placeholder="password">
            <button type="submit"> Login </button>
        </form>

        <h3>Daftar Buku</h3>
        <form>
            <input type="text" placeholder="Judul">
            <button type="submit"> Add Book </button>
        </form>
        <form>
            <input type="text" placeholder="Masukkan indeks buku">
            <button type="submit"> Download Book </button>
        </form>
    </body>
</html>
<!-- <html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        #{doLayout /}
        
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </body>
</html> -->
