<!DOCTYPE html>

<html>
    <head>
        <h1 style="color: cornflowerblue"><u>E-Library</u></h1>
    </head>

    <body>
        <h3>Tambah Buku</h3>
        Masukkan data buku baru
        <form name="bukubaru" action="@{Application.simpanBuku()}">
            <label>Judul:</label><br>
            <input type="text" name="bukubaru.judul" placeholder="judul"/> <br/>
                
            <label>Indeks:</label><br>
            <input type="text" name="bukubaru.indeks" placeholder="indeks"/> <br/>
                
            <label>Tahun Terbit:</label><br>
            <input type="text" name="bukubaru.tahunTerbit" placeholder="tahun terbit"/> <br/>

            <label>Nama Penerbit:</label><br>
            <input type="text" name="bukubaru.pnrbt.namaPenerbit" placeholder="penerbit"/> <br/>

            <label>Kota Terbit:</label><br>
            <input type="text" name="bukubaru.pnrbt.kota" placeholder="kota terbit"/> <br/>
            
            <!-- Input Hidden ID -->
            <input type="hidden" name="bukubaru.id"/>
            <br>
            <input type="submit" value="Tambah"/>
            <input type="submit" value="Kembali" formaction="@{index()}"/>
        </form>
    </body>
</html>

